body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    background: #F0EDCC;
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 250px;
    background-color: #02343F;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}
.sidebar h2{
    text-align:center; 
    color: white;
    font-weight: bold;
}

.content {
    margin-left: 250px;
    background-color: #F0EDCC;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 370px;
    height: 590px;
    margin: 10px;
    float: left;
    background-color: #FFF;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
}

.card p {
    padding: 0 5px 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.back-btn {
    background-color: #cccccc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    clear: both;
}

.back-btn:hover {
    background-color: #02343F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    clear: both;
}